@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

.game-screen {
    position: relative;
    min-height: $app-min-size;
    height: calc(100vh - 2 * #{$app-gutter});
    display: flex;
    justify-content: center;
    align-items: center;

    .board {
        width: $app-min-size;
        height: $app-min-size;     
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            opacity: 0.35;
        }
        
        &::before {
            $thickness: 2px;
            top: $playerThickness - $thickness;
            left: $playerThickness - $thickness;
            width: calc(#{$app-min-size} - 2 * #{$playerThickness});
            height: calc(#{$app-min-size} - 2 * #{$playerThickness});
            border-radius: 1000vw;
            border: $thickness solid $color-primary;
        }
        
        &::after {
            top: 0;
            left: calc(50% - 1px);
            width: 2px;
            height: 100%;
            background-color: $color-primary;
        }
    }

    .button-pause {
        position: absolute;
        top: 0;
        right: 0;
        font-size: rem-calc(50);
        padding: 0;
    }

    .score {
        position: absolute;
        bottom: 0;
        font-weight: 700;
        font-size: rem-calc(50);
        color: $color-primary;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .loader {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 5px;
        background-color: $color-primary;
        
        &.run-animation {
            animation-duration: 1s;
            animation-name: loaderAnimation;
            animation-play-state: paused;
        }
    }
}

@keyframes loaderAnimation {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}