@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

.game-screen {
    position: relative;
    min-height: $app-min-size;
    height: calc(100vh - 2 * #{$app-gutter});
    display: flex;
    justify-content: center;
    align-items: center;

    .board {
        width: $app-min-size;
        height: $app-min-size;     
        position: relative;
        
        &::before {
            content: '';
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: $playerThickness - 5px;
            left: $playerThickness - 5px;
            width: calc(#{$app-min-size} - 2 * #{$playerThickness} + 5px);
            height: calc(#{$app-min-size} - 2 * #{$playerThickness} + 5px);
            border-radius: 1000vw;
            border: 5px solid $color-primary;
            z-index: 1;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: calc(50% - 1px);
            width: 2px;
            height: 100%;
            background-color: $color-primary;
            z-index: 1;
        }
    }

    .button-pause {
        position: absolute;
        top: 0;
        right: 0;
        font-size: rem-calc(50);
        padding: 0;
    }

    .score {
        position: absolute;
        bottom: 0;
        font-weight: 700;
        font-size: rem-calc(50);
        color: $color-primary;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .loader {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 5px;
        background-color: $color-primary;
        transition-property: width;
        transition-duration: 1s;

        &.show {
            width: 100%;
        }
    }
}